.client {
  @include grid-col(6);
  margin-bottom: $gutter;
  @media (min-width: $sm-min) {
    @include grid-col(4);
  }
  @media (min-width: $md-min) {
    @include grid-col(2);
  }
  @media (min-width: $lg-min) {
    @include grid-col(2);
  }
  @media (min-width: $xl-min) {
    @include grid-col(1);
  }
  &__placeholder {
    height: 1px;
    padding-bottom: 75%;
    background-color: $color-light;
  }
}
